# Port the application runs on
PORT=3000

# MongoDB Connection String
# For docker-compose set it to: mongodb://mongodb:27017/cronwatch
MONGODB_URI=mongodb://mongoAdmin:3W-9o%5D5d96B%40@13.127.152.83:27017/CronWatch?authSource=admin&directConnection=true

# Name of the application
APP_NAME=CronWatch
